body {
    /* Centering the content on the screen */
    background: url(/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 1px solid red; */
    color: white;
    overflow: hidden;

}

/* Styling the loading text */
.loading {
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 0..1px;
    -webkit-text-stroke-color: black;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}


/* Styling the author text to looks different */
.loading__author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(189, 189, 189, 1);
    margin: 0, 6rem 0 2rem 0;
    display: block;
}


/* Creating the style for the loadinig animation */
.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-right-color: rgba(3, 155, 299, 1);
    border-bottom-color: rgba(3, 155, 299, 1);
    border-radius: 50%;
    animation: rotateAnimation 600ms infinite linear;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50%;
    padding-bottom: 0px;
    margin-bottom: 10px;
    background-color: rgba(8, 8, 8, 0.74);
    border-radius: 25px;
    box-shadow: 33px solid red;

}

/* Creating style to rotate the loading animation */
@keyframes rotateAnimation {
    to {
        /* Creating the rotation speed, we can use 1 turn , 2 turn and so on.. */
        transform: rotate(2turn)
    }
}